// app global css in SCSS form

.border-1 {
    border: 1px solid rgba(29, 29, 29, 0.12) !important;
}
.border-2 {
    border: 1px solid rgba(255, 255, 255, 0.336);
}

.bg-sw {
    background-color: #176042;
}

.swal2-container {
    z-index: 9999 !important;
}